<div>

<h1>Hmm, wrong email or password. Try again!</h1>
<h2>Please sign in to view the page.</h2>

  <form action="/login" method="post">
    <input type="text" name="username_or_email" placeholder="username/email">
    <input type="password" name="password" placeholder="Your password">
    <input type="submit" value="Log in">
  </form>
</div>