<head>
<style>
  .container {color:red}
</style>
</head>

<div class="container">
<h1>Error</h1>
<p>Wrong email/password combination</p>
  <form action="/login" method="post">
    <p>Please login again:</p>
      <input type="text" name="username_or_email" placeholder="username/email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Log in">
    </form>

  <form action="/register" method="post">
    <p>Or register a new account here:</p>
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Register!">
  </form>
</div>

