<div class="container">
  <h1>Log in to Pinterest</h1>

  <form action="/login" method="post">

    <input type="text" name="username_or_email" placeholder="Email             Required">
    <br><br>
    <input type="password" name="password" placeholder="Password      Required">
    <br><br>
    <input type="submit" value="Log in">
    <p>Are you a business? Get started here</p>
    <br><br>
  </form>


  <form action="/register" method="post">
    <p>Forgot your password?</p>
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Sign up now">
  </form>
<br><br><br>


</div>


