<div class="container">
  <br>
  <h2> <center><%= @user.username %> </center></h2>
  <p> <center>Boards   Pins   Likes   Followers   Following</center></p><br>

  <% @user.posts.each do |post| %>
    <p> Picture: <%= post.image %><br> </p>
    <p> Title: <a href="/post/<%= post.id %>"><%= post.title %></a> </p>
    <br>
  <% end %>

</div>
