<div class="container">
  <br>
  User: <%= @user.username %><br><br>
  <a href="/user/<%= @user.id %>/submissions">Submissions by this user</a><br>
  <a href="/user/<%= @user.id %>/comments">Comments by this user</a>
</div>