<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" text-align="right">
    <a class="brand home" href="/">Home</a>
    <a class="brand new_post" href="/submit">New Post</a>
  </div>
</div>
</header>