<header>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" text-align="right">
    <a class="brand home" href="/">Search</a>
    <a class="brand new_post" href="/submit">News or Message</a>
  </div>
</div>
</header>